.navbar{
     display: flex; 
    background:rgb(0, 0, 0, 0.1);
    display: block;
    z-index: 2;
    left: 27%;
    padding: 0.7rem 1rem;
    width: max-content;
    position: fixed;
    transform: translateX(50%);
    bottom:2rem;
    gap: 0.8rem;
    backdrop-filter: blur(115px);
    border-radius: 13rem;
}
.navbar a{
    padding: 0px 15px;
    background: transparent;
    border-radius: 50%;
    padding: 0.9rem 0.9rem;
    color: white;
}
.navbar>a>svg{
    cursor: pointer;
    height:1.4rem;
    width:1.4rem;
}
.navbar a:hover{
background-color: rgb(0, 0, 0,0.3);
/* padding: 0.8rem 0.7rem 0.4rem 0.7rem; */

}
.navbar a.active{
    color: white;
    background: var(--color-bg);
    padding: 0.8rem 0.7rem 0.5rem 0.7rem;
}


/* ==================Small devices======================== */

@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 600px){

.navbar{
    left: -18%;
    padding: 1.7rem 2rem;
    bottom:5rem;
}

.navbar>a>svg{
    cursor: pointer;
    height:3.4rem;
    width:3.4rem;
}
.navbar a{
    padding: 0px 2.5rem;
}
.navbar a.active{
   
    padding: 2.8rem 0.7rem 0.5rem 0.7rem;
}
}
@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 600px){
    .navbar{
        position: fixed;
        bottom: 4rem;
    }
}